<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.admin.server.dao.DataCollectionDao">

    <sql id="where">
        <where>
            <!--<if test="params.id != null and params.id != '' and params.id != 0 ">
                and t.id = #{params.id}
            </if>-->
            <if test="params.uid != null and params.uid != ''">
                and uid = #{params.uid}
            </if>
            <if test="params.eid != null and params.eid != ''">
                and eid = #{params.eid}
            </if>
            <if test="params.etype != null and params.etype != ''">
                and etype = #{params.etype}
            </if>
            <if test="params.rid != null and params.rid != ''">
                and rid = #{params.rid}
            </if>
            <if test="params.val != null and params.val != ''">
                and val = #{params.val}
            </if>
            <if test="params.startTime != null and params.startTime != ''">
                and STR_TO_DATE(start_time, '%Y-%m-%d %H:%i:%s') &gt;= STR_TO_DATE(#{params.startTime}, '%Y-%m-%d
                %H:%i:%s')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                and STR_TO_DATE(end_time, '%Y-%m-%d %H:%i:%s') &lt;= STR_TO_DATE(#{params.endTime}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="params.name != null and params.name != ''">
                and name = #{params.name}
            </if>
            <if test="params.rangeIndex != null and params.rangeIndex != ''">
                and t.val ->> '$.RangeIndex' = #{params.rangeIndex}
            </if>
            <if test="params.uids !=null">
                and uid in
                <foreach collection="params.uids" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </sql>

    <select id="listRF" resultType="com.zw.admin.server.model.DataCollectionBo">
        select 	t.id,
        t.etype,
        t.eid,
        t.rid,
        t.start_time,
        t.end_time,
        u. NAME,
        t.create_time,
        -- t.val,
        t.update_time,
        val->>'$.Duration' duration,
        t.val->>'$.GameID' game_id,
        t.val->>'$.Date' date,
        t.val->>'$.RangeIndex' range_index,
        t.val->>'$.Range' range_info,
        t.val->>'$.GameName' game_name,
        t.val->>'$.TrainingTime' train_time,
        t.uid,
        t.val ->> '$.RawData'!='' and t.val ->> '$.RawData' is not null as have_data
        from data_collection t left join user u on t.uid = u.id
        <include refid="where"/>
        order by t.start_time desc
        limit #{offset}, #{limit}
    </select>

    <select id="count" resultType="int">
        select count(1) from data_collection t left join user u on t.uid = u.id
        <include refid="where"/>
    </select>

    <select id="list" resultType="DataCollection">
        select t.*,u.name from data_collection t left join user u on t.uid = u.id
        <include refid="where"/>
        ${params.orderBy}
        limit #{offset}, #{limit}
    </select>

    <update id="update">
        update data_collection t
        <set>
            <if test="uid != null">
                uid = #{uid},
            </if>
            <if test="eid != null">
                eid = #{eid},
            </if>
            <if test="etype != null">
                etype = #{etype},
            </if>
            <if test="rid != null">
                rid = #{rid},
            </if>
            <if test="val != null">
                val = #{val},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
        </set>

        where t.id = #{id}
    </update>

    <!--设备型号下拉框-->
    <select id="getEtypes" resultType="java.lang.String">
        SELECT DISTINCT etype from data_collection
        <where>
            etype is not null
            <if test=" etype!=null and etype!='' ">
                and etype = #{etype}
            </if>
            <if test="ids !=null">
                and uid in
                <foreach collection="ids" separator="," open="(" close=")" item="uid">
                    #{uid}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getNames" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT DISTINCT u.`name` from data_collection t
        LEFT JOIN USER u ON t.uid = u.id
        <where>
            u.name is not null
            <if test="name!=null and name!=''">
                and u.name like CONCAT('%',#{name},'%')
            </if>
            <if test="ids !=null">
                and t.uid in
                <foreach collection="ids" separator="," open="(" close=")" item="uid">
                    #{uid}
                </foreach>
            </if>
        </where>

    </select>

    <select id="getEids"  resultType="java.lang.String">
        SELECT DISTINCT eid from data_collection
        <where>
            eid is not null and eid !=''
            <if test=" eid!=null and eid!='' ">
                and eid = #{eid}
            </if>
            <if test="ids !=null">
                and uid in
                <foreach collection="ids" separator="," open="(" close=")" item="uid">
                    #{uid}
                </foreach>
            </if>
        </where>
    </select>

    <!--统计训练数据-->
    <select id="countEtype" resultType="com.zw.admin.server.model.TrainDataSum">
        select
        count(DISTINCT t.etype) machine_Type_Num,
        count(DISTINCT t.uid) user_num,
        count(1) train_num,
        count(DISTINCT t.eid) sn_num,
        sum(val -> '$.TrainingTime') train_time
        from data_collection t left join user u on t.uid = u.id
        <include refid="where"/>
    </select>

    <!--训练总时长变更成新表-->
    <select id="selectTrainTimeSum" resultType="java.lang.Long">
        SELECT
		sum(data -> '$.TrainingTime') train_time
        FROM
		user_train_report
    </select>

    <!--训练总次数-->
    <select id="selectTrainNum" resultType="java.lang.Long">
        SELECT COUNT(1) from data_collection
    </select>

    <!--日训练数据-->
    <select id="selectTrainNumByDay" resultType="com.zw.admin.server.dto.DateNumDto">
        SELECT
            DATE_FORMAT(create_time, '%Y-%m-%d') date,
            count(1) num
        FROM
            data_collection
        <where>
            <if test="startTime !=null and endTime !=null">
               and DATE_FORMAT(create_time, '%Y-%m-%d') between #{startTime} and #{endTime}
            </if>
        </where>
        GROUP BY
            DATE_FORMAT(create_time, '%Y-%m-%d')
    </select>
</mapper>
