<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.admin.server.dao.FileInfoDao">

    <sql id="where">
        <where>
        </where>
    </sql>

    <select id="count" resultType="int">
        select count(1) from file_info t
        <include refid="where"/>
    </select>

    <select id="list" resultType="FileInfo">
        select * from file_info t
        <include refid="where"/>
        ${params.orderBy}
        limit #{offset}, #{limit}
    </select>


    <select id="userCount" resultType="int">
        SELECT
        count(1)
        FROM
        file_info f
        LEFT JOIN game g ON f.`name` = g.`name`
        <where>
            <if test='userId!=null and userId!="0"'>
                and g.userId = #{userId}
            </if>
            <if test='params.name!=null and params.name!=""'>
                and g.name = #{params.name}
            </if>
             <if test='params.id!=null and params.id!=""'>
                and g.id = #{params.id}
            </if>
            <if test='params.type!=null and params.type!=""'>
                and f.type = #{params.type}
            </if>
        </where>
    </select>

    <select id="userList" resultType="FileInfo">
        SELECT
        f. *
        FROM
        file_info f
        LEFT JOIN game g ON f.`name` = g.`name`
        <where>
        	<if test='params.platform !=null and params.platform !=""'>
                and f.platform = #{params.platform}
            </if> 
            <if test='userId!=null and userId!="0"'>
                and g.userId = #{userId}
            </if>
            <if test='params.name!=null and params.name!=""'>
                and g.name = #{params.name}
            </if> 
             <if test='params.id!=null and params.id!=""'>
                and g.id = #{params.id}
            </if>
            <if test='params.type !=null and params.type !=""'>
                and f.type = #{params.type}
            </if>
            <if test='params.userType == "1"'>
                <if test='params.type ==null or params.type ==""'>
                    and (f.type is null or f.type = '')
                </if>
            </if>
        </where>
        order by status asc, id desc
        limit #{offset}, #{limit}
    </select>

    <select id="fileListWithoutPagination" resultType="com.zw.admin.server.model.FileInfo">
        SELECT
        f. *
        FROM
        file_info f
        LEFT JOIN game g ON f.`name` = g.`name`
        <where>
            <if test='params.platform !=null and params.platform !=""'>
                and f.platform = #{params.platform}
            </if>
            <if test='params.userId!=null and params.userId!="0"'>
                and g.userId = #{params.userId}
            </if>
            <if test='params.name!=null and params.name!=""'>
                and g.name = #{params.name}
            </if>
            <if test='params.id!=null and params.id!=""'>
                and g.id = #{params.id}
            </if>
            <if test='params.type !=null and params.type !=""'>
                and f.type = #{params.type}
            </if>
            <if test="params.role != 'ROOT'">
                and g.id = ''
            </if>
        </where>
        order by status asc, id desc
    </select>

    <update id="update">
        UPDATE file_info
        <set>
            <if test="id != null">id = #{id},</if>
            <if test="contentType != null">contentType = #{contentType},</if>
            <if test="size != null">size = #{size},</if>
            <if test="path != null">path = #{path},</if>
            <if test="url != null">url = #{url},</if>
            <if test="type != null">type = #{type},</if>
            <if test="sn != null">sn = #{sn},</if>
            <if test="name != null">name = #{name},</if>
            <if test="version != null">version = #{version},</if>
            <if test="platform != null">platform = #{platform},</if>
            <if test="platformId != null">platform_id = #{platformId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
            updateTime = NOW(),
        </set>
        WHERE id = #{id}
    </update>

    <select id="getByName" resultType="com.zw.admin.server.model.FileInfo">
        select * from file_info t
        <where>
         t.name = #{name} and t.platform=#{platform}
         <if test="type !=null">
             and t.type=#{type}
         </if>
        </where>
        limit 1
    </select>


</mapper>