<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.admin.server.dao.InformationDao">

	<select id="getMsg" resultType="java.util.Map" parameterType="java.lang.String" statementType="STATEMENT">
    select 
        *
    from ${tableName}
        <where>
	        <if test="id != 0">
	        	id = ${id}
	        </if>
        </where>
  	</select>
  	
  	<insert id="saveMsg" parameterType="java.lang.String" statementType="STATEMENT" >
  		insert into ${tableName}(value , create_time, update_time) values( ${value}, NOW(), NOW())
  	</insert>
  	
  	<update id="updateMsg" parameterType="java.lang.String" statementType="STATEMENT" >
		update ${tableName} t
		<set>
			<if test="value != null">
				value = ${value} 
			</if>
		</set>
		where t.id = ${id}
	</update>
	
	<delete id="deleteMsg" parameterType="java.lang.String" statementType="STATEMENT" >
  		delete from ${tableName} where id = ${id}
  	</delete>

	<sql id="where">
		<where>
			<if test="params.id != null and params.id != ''">
				and id = #{params.id} 
			</if>
			<if test="params.name != null and params.name != ''">
				and name = #{params.name} 
			</if>
			<if test="params.value != null and params.value != ''">
				and value = #{params.value} 
			</if>
			<if test="params.createTime != null and params.createTime != ''">
				and create_time = #{params.createTime} 
			</if>
			<if test="params.updateTime != null and params.updateTime != ''">
				and update_time = #{params.updateTime} 
			</if>
		
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from information t
		<include refid="where" />
	</select>

	<select id="list" resultType="Information">
		select * from information t
		<include refid="where" />
		ORDER BY id desc
		limit #{offset}, #{limit}
	</select>

	<update id="update">
		update information t
		<set>
			<if test="name != null">
				name = #{name}, 
			</if>
			<if test="value != null">
				value = #{value}, 
			</if>
		</set>

		where t.id = #{id}
	</update>

</mapper>
