<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.admin.server.dao.MachineInfoDao">
    <sql id="where">
        <where>
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.machineType != null and params.machineType != ''">
                and machine_type = #{params.machineType}
            </if>
            <if test="params.algorithmVersion != null and params.algorithmVersion != ''">
                and algorithm_version = #{params.algorithmVersion}
            </if>
            <if test="params.hardwareVersion != null and params.hardwareVersion != ''">
                and hardware_version = #{params.hardwareVersion}
            </if>
            <if test="params.mechanismVersion != null and params.mechanismVersion != ''">
                and mechanism_version = #{params.mechanismVersion}
            </if>
            <if test="params.createTime != null and params.createTime != ''">
                and create_time = #{params.createTime}
            </if>
            <if test="params.softwareVersion != null and params.softwareVersion != ''">
                and software_version = #{params.softwareVersion}
            </if>
            <if test="params.sn != null and params.sn != ''">
                and sn =#{params.sn}
            </if>
            <if test="params.organization != null and params.organization != ''">
                and organization = #{params.organization}
            </if>
            <if test="params.place != null and params.place != ''">
                and place like concat('%',#{params.place},'%')
            </if>
            <if test="params.cardNumber != null and params.cardNumber != ''">
                and card_number = #{params.cardNumber}
            </if>
            <if test="params.route != null and params.route != ''">
                and route = #{params.route}
            </if>
            <if test="params.list !=null and params.list.size >0">
                and sn in
                <foreach collection="params.list" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </sql>

    <!--根据机构场所查询-->
    <sql id="selectByMachineId">
            machine_type != 'Mouse'
            <if test="list !=null and list.size >0">
               and sn in
                <foreach collection="list" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
    </sql>

    <select id="count" resultType="int">
    select count(1) from machine_info t
        <include refid="where"/>
    </select>

    <select id="list" resultType="MachineInfo">
        SELECT
        `id`,
        `machine_type`,
        `algorithm_version`,
        `hardware_version`,
        `mechanism_version`,
        `create_time`,
        `software_version`,
        `sn`,
        `organization`,
        `os_id`,
        `run_time`,
        `run_times`,
        `mmu_app_ver`,
        `mmu_iap_ver`,
        `rups_ver`,
        `mechanism_ver`,
        `hardware_ver`,
        place,
        route,
        card_number,
        province,
        place_id,
        update_time,
        serial_Number,
        ip
        FROM
        machine_info
        <include refid="where"/>
        order by update_time desc limit #{offset}, #{limit}
    </select>

    <update id="update">
		update machine_info t
        <set>
            <if test="machineType != null">
                machine_type = #{machineType},
            </if>
            <if test="algorithmVersion != null">
                algorithm_version = #{algorithmVersion},
            </if>
            <if test="hardwareVersion != null">
                hardware_version = #{hardwareVersion},
            </if>
            <if test="mechanismVersion != null">
                mechanism_version = #{mechanismVersion},
            </if>
            <!--<if test="createTime != null">
                create_time = #{createTime},
            </if>-->
            <if test="softwareVersion != null">
                software_version = #{softwareVersion},
            </if>
            <if test="runTime != null">
                run_time = #{runTime},
            </if>
            <if test="runTimes != null">
                run_times = #{runTimes},
            </if>
            <if test="softwareVersion != null">
                software_version = #{softwareVersion},
            </if>
            <if test="organization != null">
                organization = #{organization},
            </if>
            <if test="place !=null">
                place = #{place},
            </if>
            <if test="placeId !=null">
                place_id = #{placeId},
            </if>
            <if test="route !=null">
                route = #{route},
            </if>
            <if test="cardNumber !=null">
                card_number = #{cardNumber},
            </if>
            <if test="updateTime !=null">
                update_time = #{updateTime},
            </if>
            <if test="province !=null">
                province = #{province},
            </if>
            <if test="serialNumber !=null">
                serial_Number = #{serialNumber},
            </if>
            <if test="ip !=null" >
                ip = #{ip}
            </if>
        </set>
        where t.sn = #{sn}
    </update>

    <!--提加机器数据-->
    <insert id="save" useGeneratedKeys ="true"  keyProperty = "id">
        insert INTO machine_info (
            machine_type,
            algorithm_version,
            hardware_version,
            mechanism_version,
            create_time,
            update_time,
            software_version,
            sn,
            organization,
            os_id,
            run_time,
            run_times,
            data,
            mmu_app_ver,
            mmu_iap_ver,
            rups_ver,
            mechanism_ver,
            hardware_ver,
            serial_number,
            ip
        )
        VALUES
            (
                #{machineType},
                #{algorithmVersion},
                #{hardwareVersion},
                #{mechanismVersion},
                now(),
                #{updateTime},
                #{softwareVersion},
                #{sn},
                #{organization},
                #{osId},
                #{runTime},
                #{runTimes},
                #{data},
                #{mmuAppVer},
                #{mmuIapVer},
                #{rupsVer},
                #{mechanismVer},
                #{hardwareVer},
                #{serialNumber},
                #{ip}
                )
    </insert>

    <select id="webList" resultType="MachineInfo">
        select t.*,dc.place,dc.card_number,dc.route_id from device t left join device_config dc on t.sn=dc.sn
        <include refid="where" />
        limit #{offset}, #{limit}
    </select>

    <select id="selectProvince" resultType="java.lang.String">
        select province from province
    </select>

    <!--根据开始时间和结束时间获取设备月增量-->
    <select id="getMachineIncreaseByMonth" resultType="com.zw.admin.server.dto.DateNumDto">
        SELECT
        DATE_FORMAT(create_time, '%Y-%m') date,
        count(1) num
        FROM
        machine_info
        GROUP BY
        DATE_FORMAT(create_time, '%Y-%m')
        ORDER BY
        DATE_FORMAT(create_time, '%Y-%m')
    </select>

    <!--查询设备型号何对应数量-->
    <select id="selectMachineTypeNum" resultType="com.zw.admin.server.dto.MachineNumDto">
        SELECT
            machine_type,
            count(DISTINCT sn)
        FROM
            machine_info
        WHERE
            machine_type IS NOT NULL
        GROUP BY
            machine_type
    </select>

    <!--查询所有设备所有时间总时长-->
    <select id="selectMachineTotalUseTime" resultType="java.lang.Long">
        SELECT sum(data->'$.TrainingTime') from user_train_report
    </select>

    <!--查询各设备使用总时长-->
    <select id="selectMachineUseTimeByType" resultType="com.zw.admin.server.dto.MachineNumDto">
        SELECT
            machine_type,
            IFNULL(
                sum(DATA -> '$.TrainingTime'),
                0
            ) num
        FROM
            user_train_report
        GROUP BY
            machine_type
        ORDER BY
            num DESC
    </select>

    <!--所有设备使用总次数-->
    <select id="selectTotalUseNum" resultType="java.lang.Long">
        SELECT COUNT(1) from user_train_report
    </select>

    <!--当日训练次数-->
    <select id="selectTodayUseNum" resultType="java.lang.Long">
        SELECT COUNT(1) from user_train_report where DATE_SUB(CURDATE(), INTERVAL 0 DAY) = date(create_time)
    </select>

    <!--总设备数量-->
    <select id="selectTotalMachineNum" resultType="java.lang.Long">
        SELECT
        count(1)
        FROM
        machine_info
        <where>
            <include refid="selectByMachineId"></include>
        </where>
    </select>

    <!--月新增总设备数量-->
    <select id="selectMonthTotalMachineIncreaseNum" resultType="java.lang.Long">
        SELECT
        count(1)
        FROM
        machine_info
        <where>
            <include refid="selectByMachineId"></include>
            and date_format(create_time,'%Y-%m')=date_format(now(),'%Y-%m')
        </where>
    </select>

    <!--月新增设备数量明细-->
    <select id="selectMonthMachineIncreaseDetail" resultType="com.zw.admin.server.dto.MachineNumDto">
        SELECT
        machine_type,
        count(1) num
        FROM
        machine_info
        <where>
            <include refid="selectByMachineId"></include>
            and date_format(create_time,'%Y-%m')=date_format(now(),'%Y-%m')
        </where>
        group by machine_type order by num desc
    </select>

    <select id="selectMachineTypes" resultType="java.lang.String">
        SELECT DISTINCT machine_type FROM machine_info where machine_type!='mouse' order by machine_type asc
    </select>

    <!--场所下拉框-->
    <select id="selectPlaces" resultType="java.lang.String">
        SELECT DISTINCT place from machine_info where place is not null and place!=''
    </select>

    <!--场所下拉框-->
    <update id="initPlaceCoordinate" >
        update  province set coordinate = #{coordinate} where province like concat('%',#{province},'%')
    </update>

    <select id="selectProvinceCoordinate" resultType="java.util.Map">
        SELECT province,coordinate  from province
    </select>

    <select id="selectCoordinateByProvince" resultType="java.lang.String">
        SELECT coordinate  from province where province = #{date}
    </select>

    <!--根据场所查询不同机器的型号-->
    <select id="selectMachineTypeNumByPlace" resultType="com.zw.admin.server.dto.MachineNumDto">
        SELECT machine_type machineType,COUNT(1) num from machine_info
        <where>
            <if test="list !=null and list.size >0">
                sn in
                <foreach collection="list" separator="," item="item" open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY machine_type
    </select>
</mapper>