<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zw.admin.server.dao.MachineLogDao">

    <sql id="where">
        <where>
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.logId != null and params.logId != ''">
                and log_id = #{params.logId}
            </if>
            <if test="params.createTime != null and params.createTime != ''">
                and create_time = #{params.createTime}
            </if>
            <if test="params.updateTime != null and params.updateTime != ''">
                and update_time = #{params.updateTime}
            </if>
            <if test="params.machineId != null and params.machineId != ''">
                and machine_id = #{params.machineId}
            </if>
            <if test="params.data != null and params.data != ''">
                and data = #{params.data}
            </if>
            <if test="params.mmuAppVer != null and params.mmuAppVer != ''">
                and mmu_app_ver = #{params.mmuAppVer}
            </if>
            <if test="params.mmuIapVer != null and params.mmuIapVer != ''">
                and mmu_iap_ver = #{params.mmuIapVer}
            </if>
            <if test="params.rupsVer != null and params.rupsVer != ''">
                and rups_ver = #{params.rupsVer}
            </if>
        </where>
    </sql>

    <select id="count" resultType="int">
        select count(1) from machine_log t
        <include refid="where"/>
    </select>

    <select id="list" resultType="MachineLog">
        select * from machine_log t
        <include refid="where"/>
        ${params.orderBy} limit #{offset}, #{limit}
    </select>

    <update id="update">
        update machine_log t
        <set>
            <if test="logId != null">
                log_id = #{logId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="machineId != null">
                machine_id = #{machineId},
            </if>
            <if test="data != null">
                data = #{data},
            </if>
            <if test="mmuAppVer != null">
                mmu_app_ver = #{mmuAppVer},
            </if>
            <if test="mmuIapVer != null">
                mmu_iap_ver = #{mmuIapVer},
            </if>
            <if test="rupsVer != null">
                rups_ver = #{rupsVer},
            </if>
        </set>
        where t.id = #{id}
    </update>
</mapper>