<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zw.admin.server.dao.UserTrainLogDao">

    <sql id="where">
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.trainLogId != null and params.trainLogId != ''">
                and train_log_id = #{params.trainLogId}
            </if>
            <if test="params.userId != null and params.userId != ''">
                and user_id = #{params.userId}
            </if>
            <if test="params.machineId != null and params.machineId != ''">
                and machine_id = #{params.machineId}
            </if>
            <if test="params.gameId != null and params.gameId != ''">
                and game_id = #{params.gameId}
            </if>
            <if test="params.machineData != null and params.machineData != ''">
                and machine_data = #{params.machineData}
            </if>
            <if test="params.startTime != null and params.startTime != ''">
                and start_time = #{params.startTime}
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                and end_time = #{params.endTime}
            </if>
            <if test="params.gameData != null and params.gameData != ''">
                and game_data = #{params.gameData}
            </if>
            <if test="params.time != null and params.time != ''">
                and time = #{params.time}
            </if>
    </sql>

    <sql id="trainLogWhere">
        <if test="id != null and id != ''">
            and l.id = #{id}
        </if>
        <if test="trainLogId != null and trainLogId != ''">
            and l.train_log_id = #{trainLogId}
        </if>
        <if test="userId != null and userId != ''">
            and l.user_id = #{userId}
        </if>
        <if test="onlineId != null and onlineId != ''">
            and u.online_id = #{onlineId}
        </if>
        <if test="userName != null and userName != ''">
            and u.`name` = #{userName}
        </if>
        <if test="machineId != null and machineId != ''">
            and l.machine_id = #{machineId}
        </if>
        <if test="gameId != null and gameId != ''">
            and l.game_id = #{gameId}
        </if>
        <if test="machineData != null and machineData != ''">
            and l.machine_data = #{machineData}
        </if>
        <if test="gameData != null and gameData != ''">
            and l.game_data = #{gameData}
        </if>
        <if test="time != null and time != ''">
            and l.time = #{time}
        </if>
        <if test="gameName != null and gameName != ''">
            and g.gamename like concat('%',#{gameName},'%')
        </if>
        <if test="rangeIndex != null and rangeIndex != ''">
            and l.machine_data ->> '$.RangeIndex' = #{rangeIndex}
        </if>
        <if test="startTime != null and startTime != ''">
            and STR_TO_DATE(l.start_time, '%Y-%m-%d %H:%i:%s') &gt;= STR_TO_DATE(#{startTime}, '%Y-%m-%d
            %H:%i:%s')
        </if>
        <if test="endTime != null and endTime != ''">
            and STR_TO_DATE(l.end_time, '%Y-%m-%d %H:%i:%s') &lt;= STR_TO_DATE(#{endTime}, '%Y-%m-%d %H:%i:%s')
        </if>
        <if test="place != null and place != ''">
            and i.place = #{place}
        </if>
    </sql>

    <!--根据机构场所查询-->
    <sql id="selectGameByMachineId">
        l.machine_type != 'Mouse'
        <if test="list !=null and list.size >0">
            and l.machine_id in
            <foreach collection="list" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="machineType !=null">
            and l.machine_type = #{machineType}
        </if>
    </sql>

    <!--根据机构场所查询-->
    <sql id="selectByMachineAndUserIds">
        l.machine_type != 'Mouse'
        <if test="machineIds !=null and machineIds.size >0">
            and l.machine_id in
            <foreach collection="machineIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="machineType !=null and machineType !=''" >
            and l.machine_type = #{machineType}
        </if>
        <if test="userIds !=null and userIds.size >0">
            and l.user_id in
            <foreach collection="userIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </sql>

    <!--根据机构场所查询-->
    <sql id="selectByMachineId">
        machine_type != 'Mouse'
        <if test="list !=null and list.size >0">
            and machine_id in
            <foreach collection="list" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="machineType !=null">
            and machine_type = #{machineType}
        </if>
    </sql>

    <!--根据机构场所查询-->
    <sql id="selectActiveUserByMachineId">
        l.machine_type != 'Mouse'
        <if test="list !=null and list.size >0">
            and l.machine_id in
            <foreach collection="list" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="machineType !=null">
            and l.machine_type = #{machineType}
        </if>
    </sql>

    <select id="count" resultType="java.lang.Long">
        select count(1) from user_train_log t
        <where>
            <include refid="where"/>
        </where>
    </select>

    <select id="list" resultType="UserTrainLog">
        select * from user_train_log t
        <include refid="where"/>
        ${params.orderBy} limit #{offset}, #{limit}
    </select>

    <update id="update">
    update user_train_log t
        <set>
            <if test="train_log_id != null">
                train_log_id = #{trainLogId},
            </if>
            <if test="user_id != null">
                user_id = #{userId},
            </if>
            <if test="machine_id != null">
                machine_id = #{machineId},
            </if>
            <if test="game_id != null">
                game_id = #{gameId},
            </if>
            <if test="machine_data != null">
                machine_data = #{machineData},
            </if>
            <if test="start_time != null">
                start_time = #{startTime},
            </if>
            <if test="end_time != null">
                end_time = #{endTime},
            </if>
            <if test="game_data != null">
                game_data = #{gameData},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
        </set>
        where t.id = #{id}
    </update>

    <select id="selectMostPopularGames" resultType="com.zw.admin.server.dto.GameNumDto">
        SELECT
            val -> '$.GameID' game ,
            COUNT(1) num
        FROM
            data_collection
        WHERE
            val -> '$.GameID' IS NOT NULL
        GROUP BY
            val -> '$.GameID'
        ORDER BY
            count(1) DESC
        LIMIT 3
    </select>

    <!--最受欢迎的游戏-->
    <select id="selectMostPopularGameList" resultType="com.zw.admin.server.dto.GameNumDto">
        SELECT
            g.gamename game,
            count(1) num,
            IFNULL(sum(l.time), 0) time,
            l.machine_type
        FROM
            user_train_log l join game g on l.game_id = g.id
        <where>
            <include refid="selectGameByMachineId"></include>
        </where>
        GROUP BY
            l.game_id,l.machine_type
        ORDER BY
            num DESC
        LIMIT ${gameNum}
    </select>

    <!--最近一个月各设备使用次数-->
    <select id="selectTrainTimesLastMoth" resultType="com.zw.admin.server.dto.MachineNumDto">
        SELECT
        machine_type,
        count(1) num
        FROM
        user_train_report
        WHERE
        DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(create_time)
        GROUP BY
        machine_type
    </select>

    <!--所有设备使用次数本周，本月，本年详细-->
    <select id="getMachineUseTimes" resultType="com.zw.admin.server.dto.DateNumDto">
        SELECT
        <if test='dateType == "week" or dateType == "month"'>
            DATE_FORMAT(start_time, '%Y-%m-%d')
        </if>
        <if test='dateType == "year"'>
            DATE_FORMAT(start_time, '%Y-%m')
        </if> date,
        count(1) num from user_train_log
        <where>
            <include refid="selectByMachineId"></include>
            <if test='dateType == "week"'>
                and YEARWEEK(date_format(start_time, '%Y-%m-%d'),1) = YEARWEEK(now(), 1)
            </if>
            <if test='dateType == "month"'>
                and DATE_FORMAT( start_time, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
            </if>
            <if test='dateType == "year"'>
                and YEAR(start_time)=YEAR(NOW())
            </if>
        </where>
        GROUP BY
        <if test='dateType == "week" or dateType == "month"'>
            DATE_FORMAT(start_time, '%Y-%m-%d')
        </if>
        <if test='dateType == "year"'>
            DATE_FORMAT(start_time, '%Y-%m')
        </if>

    </select>

    <!--所有设备使用次数-->
    <select id="getTotalMachineUseTimes" resultType="java.lang.Long">
        SELECT
        count(1) from user_train_log
        <where>
            <include refid="selectByMachineId"></include>
        </where>
    </select>

    <!--根据省份，医院活跃人数统计-->
    <select id="selectActiveUser" resultType="com.zw.admin.server.dto.DateNumDto">
        SELECT
        <if test='pale == "province"'>
            i.province
        </if>
        <if test='pale == "hospital"'>
            i.place
        </if>
        date,count(DISTINCT l.user_id) num
        FROM
            user_train_log l
        JOIN machine_info i ON l.machine_id = i.sn
        <where>
            <include refid="selectActiveUserByMachineId"></include>
            <if test='dateType == "day"'>
                and DATE_FORMAT( l.start_time, '%Y%m%d' ) = DATE_FORMAT( CURDATE( ) , '%Y%m%d' )
            </if>
            <if test='dateType == "month"'>
                and DATE_FORMAT( l.start_time, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
            </if>
            <if test='dateType == "year"'>
                and YEAR(l.start_time)=YEAR(NOW())
            </if>
        </where>
        group by
        <if test='pale == "province"'>
            i.province having i.province is not null
        </if>
        <if test='pale == "hospital"'>
            i.place having i.place is not null
        </if>
        order by num desc
        <if test="limit !=null">
            limit ${limit}
        </if>
    </select>

    <!--本周，本月，本年设备趋势-->
    <select id="selectMachineTrainTimeTrendChart" resultType="com.zw.admin.server.dto.DateNumDto">
        SELECT
        <if test='dateType == "week" or dateType == "month"'>
            DATE_FORMAT(start_time, '%Y-%m-%d')
        </if>
        <if test='dateType == "year"'>
            DATE_FORMAT(start_time, '%Y-%m')
        </if>
        date,sum(IFNULL(time,0)) num
        FROM
        user_train_log
        <where>
            <include refid="selectByMachineId"></include>
            <if test='dateType == "week"'>
                and YEARWEEK(date_format(start_time, '%Y-%m-%d'),1) = YEARWEEK(now(), 1)
            </if>
            <if test='dateType == "month"'>
                and DATE_FORMAT( start_time, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
            </if>
            <if test='dateType == "year"'>
                and YEAR(start_time)=YEAR(NOW())
            </if>
        </where>
        group by
        <if test='dateType == "week" or dateType == "month"'>
            DATE_FORMAT(start_time, '%Y-%m-%d')
        </if>
        <if test='dateType == "year"'>
            DATE_FORMAT(start_time, '%Y-%m')
        </if>
    </select>

    <!--各设备使用次数本周，本月，本年使用时长，使用率详细-->
    <select id="getMachineUseDetailByDateType" resultType="com.zw.admin.server.dto.MachineNumDto">
        SELECT
        machine_type,
        count(1) num,
        IFNULL(sum(time),0) time from user_train_log
        <where>
            <include refid="selectByMachineId"></include>
            <if test='dateType == "week"'>
                and YEARWEEK(date_format(start_time, '%Y-%m-%d'),1) = YEARWEEK(now(), 1)
            </if>
            <if test='dateType == "month"'>
                and DATE_FORMAT( start_time, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
            </if>
            <if test='dateType == "year"'>
                and YEAR(start_time)=YEAR(NOW())
            </if>
        </where>
        GROUP BY
        machine_type
    </select>

    <!--查询训练数据-->
    <select id="selectTrainsLogPage" resultType="com.zw.admin.server.model.UserTrainLogBo">
        SELECT
        l.id,
        l.train_log_id,
        l.user_id,
        l.machine_id,
        l.game_id,
        l.time,
        l.machine_type,
        DATE_FORMAT(l.start_time,'%Y-%m-%d %H:%i:%s') start_time,
        DATE_FORMAT(l.end_time,'%Y-%m-%d %H:%i:%s') end_time,
        g.gamename,
        l.machine_data->>'$.Range' range_info,
        l.machine_data->>'$.RangeIndex' range_index,
        i.place,
        u.`name` user_name
        FROM
        user_train_log l
        LEFT JOIN game g ON g.id = l.game_id
        LEFT JOIN machine_info i on l.machine_id=i.sn
        JOIN user u on u.id = l.user_id
        join user_train_report r on r.train_log_id = l.train_log_id
        <where>
            <include refid="selectByMachineAndUserIds"/>
            <include refid="trainLogWhere"/>
            and l.time >= 60
        </where>
        ORDER BY
        l.start_time DESC
    </select>


    <select id="selectUserNameComboBox" resultType="java.lang.String">
        SELECT
            distinct u.name
        FROM
        user_train_log l join user u on u.id = l.user_id
        <where>
            <include refid="selectByMachineAndUserIds"/>
            <include refid="trainLogWhere"/>
            and l.time >= 60 and u.name is not null
        </where>
    </select>

    <select id="selectMachineTypeComboBox" resultType="java.lang.String">
        SELECT
        distinct l.machine_type
        FROM
        user_train_log l
        LEFT JOIN user u on l.user_id = u.id
        <where>
            <include refid="selectByMachineAndUserIds"/>
            <include refid="trainLogWhere"/>
            and l.machine_type is not null
        </where>
    </select>

    <!--场所下拉-->
    <select id="selectPlaceComboBox" resultType="java.lang.String">
        SELECT
        distinct i.place
        FROM
        user_train_log l
        LEFT JOIN machine_info i ON l.machine_id = i.sn
        LEFT JOIN user u on l.user_id = u.id
        <where>
            <include refid="selectByMachineAndUserIds"/>
            <include refid="trainLogWhere"/>
            and i.place is not null and i.place !=''
        </where>
    </select>

    <!--游戏下拉-->
    <select id="selectGameComboBox" resultType="com.zw.admin.server.dto.GameDto">
        SELECT
        distinct g.gamename,g.id
        FROM
        user_train_log l
        LEFT JOIN game g ON g.id = l.game_id
        LEFT JOIN user u on l.user_id = u.id
        <where>
            <include refid="selectByMachineAndUserIds"/>
            <include refid="trainLogWhere"/>
            and l.time >= 60 and g.gamename is not null
        </where>
    </select>

    <!--训练数据统计-->
    <select id="selectTrainData" resultType="com.zw.admin.server.model.TrainData">
        SELECT
        count(DISTINCT i.place_id) place_num,
        count(DISTINCT l.machine_id) machine_num,
        COUNT(DISTINCT user_id) user_num,
        count(1) train_num,
        IFNULL(SUM(l.time), 0) train_time
        FROM
        user_train_log l
        LEFT JOIN game g ON g.id = l.game_id
        LEFT JOIN machine_info i ON l.machine_id = i.sn
        LEFT JOIN user u on l.user_id = u.id
        <where>
            <include refid="selectByMachineAndUserIds"/>
            <include refid="trainLogWhere"/>
            and l.time >= 60
        </where>
    </select>

    <select id="selectGameTrainData" resultType="com.zw.admin.server.dto.GameDto">
        SELECT
        <if test="dateType == 'month'">
            DATE_FORMAT(l.start_time, '%Y-%m') date,
        </if>
        <if test="dateType == 'day'">
            DATE_FORMAT(l.start_time, '%Y-%m-%d') date,
        </if>
        <if test="dateType == 'hour'">
            DATE_FORMAT(l.start_time, '%Y-%m-%d %H') date,
        </if>
        <!--<if test="dateType == 'week'">
            DATE_FORMAT(l.start_time, '%Y-%m-%d') date,
        </if>-->
        g.id id,
        g.gamename,
        <if test="countType == 'times'">
            count(1)
        </if>
        <if test="countType == 'time'">
            IFNULL(sum(time),0)
        </if>
        <if test="countType == 'patient'">
            count(distinct user_id)
        </if>
        num
        FROM
        game g
        LEFT JOIN user_train_log l ON g.id = l.game_id
        LEFT JOIN user u on l.user_id = u.id
        <where>
            <include refid="selectByMachineAndUserIds"/>
            <include refid="trainLogWhere"/>
            and l.start_time is not null
        </where>
        GROUP BY
        <if test="dateType == 'month'">
            DATE_FORMAT(l.start_time, '%Y-%m'),
        </if>
        <if test="dateType == 'day'">
            DATE_FORMAT(l.start_time, '%Y-%m-%d'),
        </if>
        <if test="dateType == 'hour'">
            DATE_FORMAT(l.start_time, '%Y-%m-%d %H'),
        </if>
        <!--<if test="dateType == 'week'">
            DATE_FORMAT(l.start_time, '%Y-%m-%d'),
        </if>-->
        g.id
    </select>
</mapper>