<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.admin.server.dao.UserAchivementDao">
    <sql id="where">
        <where>
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.userId != null and params.userId != ''">
                and user_id = #{params.userId}
            </if>
            <if test="params.achivementId != null and params.achivementId != ''">
                and achivement_id = #{params.achivementId}
            </if>
            <if test="params.process != null and params.process != ''">
                and process = #{params.process}
            </if>
            <if test="params.state != null and params.state != ''">
                and state = #{params.state}
            </if>
            <if test="params.createTime != null and params.createTime != ''">
                and create_time = #{params.createTime}
            </if>
            <if test="params.updateTime != null and params.updateTime != ''">
                and update_time = #{params.updateTime}
            </if>
        </where>
    </sql>

    <select id="count" resultType="int">
        select count(1) from user_achivement t
        <include refid="where"/>
    </select>
    <!---->
    <select id="list" resultType="UserAchivement">select * from user_achivement t
        <include refid="where"/>
        ${params.orderBy} limit #{offset}, #{limit}
    </select>

    <!--更新用户成就-->
    <update id="update">
        update user_achivement t
        <set>
            <if test="userId != null and userId !=''">
                user_id = #{userId},
            </if>
            <if test="achivementId != null and achivementId != ''">
                achivement_id = #{achivementId},
            </if>
            <if test="process != null">
                process = #{process},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="createTime != null and createTime != ''">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null and updateTime != ''">
                update_time = #{updateTime},
            </if>
        </set>
        where t.user_id = #{userId} and t.achivement_id = #{achivementId}
    </update>

    <select id="selectUserAchivement" parameterType="UserAchivement" resultType="UserAchivement">
		select * from user_achivement where user_id = #{userId} and achivement_id = #{achivementId} limit 1
	</select>

    <select id="selectUserAchivements" parameterType="UserAchivement" resultType="UserAchivement">
        select * from user_achivement
        <where>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="achivementId != null and achivementId != ''">
                and achivement_id = #{achivementId}
            </if>
            <if test="process != null and process != ''">
                and process = #{process}
            </if>
            <if test="state != null and state != ''">
                and state = #{state}
            </if>
        </where>
    </select>
</mapper>