<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.admin.server.dao.UserTrainStateDao">
    <sql id="where">
        <where>
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.user_id != null and params.user_id != ''">
                and user_id = #{params.userId}
            </if>
            <if test="params.train_time != null and params.train_time != ''">
                and train_time = #{params.trainTime}
            </if>
            <if test="params.train_distance != null and params.train_distance != ''">
                and train_distance = #{params.trainDistance}
            </if>
            <if test="params.train_exert != null and params.train_exert != ''">
                and train_exert = #{params.trainExert}
            </if>
            <if test="params.create_time != null and params.create_time != ''">
                and create_time = #{params.createTime}
            </if>
            <if test="params.ppdate_time != null and params.ppdate_time != ''">
                and ppdate_time = #{params.ppdateTime}
            </if>
            <if test="params.user_game_grade != null and params.user_game_grade != ''">
                and user_game_grade = #{params.userGameGrade}
            </if>
        </where>
    </sql>
    <select id="count" resultType="int">
      select count(1) from user_train_state t
        <include refid="where"/>
    </select>

    <select id="list" resultType="UserTrainState">
       select * from user_train_state t
        <include refid="where"/>
        ${params.orderBy} limit #{offset}, #{limit}
    </select>

    <update id="update">
       update user_train_state t
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="trainTime != null">
                train_time = #{trainTime},
            </if>
            <if test="trainDistance != null">
                train_distance = #{trainDistance},
            </if>
            <if test="trainExert != null">
                train_exert = #{trainExert},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="userGameGrade != null">
                user_game_grade = #{userGameGrade},
            </if>
        </set>
        where t.user_id = #{userId} and t.machine_type = #{machineType}
    </update>

    <select id="selectTrainStateByUser" resultType="UserTrainState">
        select * from user_train_state where user_id = #{userId} and machine_type = #{machineType} limit 1
    </select>
</mapper>