<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.admin.server.dao.UserDao">

    <select id="getRecentLogin" resultType="Map">
		SELECT
			t.username,t.phone,t.email,t.password,t.last_login_time
		FROM
			USER t
		ORDER BY t.last_login_time
			DESC 
			LIMIT 3
	</select>

    <!--根据机构场所查询-->
    <sql id="selectByMachineId">
        <if test="list !=null and list.size >0">
            and machine_id in
            <foreach collection="list" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        Insert Into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="phone != null">phone,</if>
            <if test="password != null">password,</if>
            <if test="age != null">age,</if>
            <if test="sex != null">sex,</if>
            <if test="headImage != null">head_image,</if>
            <if test="name != null">name,</if>
            <if test="praiseCountbymileage != null">praise_countbymileage,</if>
            <if test="praiseCountbytime != null">praise_countbytime,</if>
            create_time,
            <if test="updateTime != null">update_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="isDelete != null">is_Delete,</if>
            <if test="weight != null">weight,</if>
            <if test="height != null">height,</if>
            <if test="isPush != null">is_push,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
            <if test="firstName != null">first_name,</if>
            <if test="lastName != null">last_name,</if>
            <if test="email != null">email,</if>
            <if test="institution != null">institution,</if>
            <if test="country != null">country,</if>
            <if test="status != null">status,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="isRemember != null">is_remember,</if>
            <if test="isTemporary != null">is_temporary,</if>
            <if test="machineId != null">machine_id,</if>
            <if test="identity != null">identity,</if>
            <if test="badposition != null">badposition,</if>
            <if test="remark != null">remark,</if>
            <if test="answer1 != null">answer1,</if>
            <if test="answer2 != null">answer2,</if>
            <if test="userTrajectory != null">user_trajectory,</if>
            <if test="userLanguage != null">user_language,</if>
            <if test="userStyle != null">user_style,</if>
            <if test="anamnesisid != null">anamnesisid,</if>
            <if test="isChecked != null">is_checked,</if>
            <if test="checkColumn != null">check_column,</if>
        </trim>
        <trim prefix="Values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="phone != null">#{phone},</if>
            <if test="password != null">#{password},</if>
            <if test="age != null">#{age},</if>
            <if test="sex != null">#{sex},</if>
            <if test="headImage != null">#{headImage},</if>
            <if test="name != null">#{name},</if>
            <if test="praiseCountbymileage != null">#{praiseCountbymileage},</if>
            <if test="praiseCountbytime != null">#{praiseCountbytime},</if>
            now(),
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="weight != null">#{weight},</if>
            <if test="height != null">#{height},</if>
            <if test="isPush != null">#{isPush},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
            <if test="firstName != null">#{firstName},</if>
            <if test="lastName != null">#{lastName},</if>
            <if test="email != null">#{email},</if>
            <if test="institution != null">#{institution},</if>
            <if test="country != null">#{country},</if>
            <if test="status != null">#{status},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="isRemember != null">#{isRemember},</if>
            <if test="isTemporary != null">#{isTemporary},</if>
            <if test="machineId != null">#{machineId},</if>
            <if test="identity != null">#{identity},</if>
            <if test="badposition != null">#{badposition},</if>
            <if test="remark != null">#{remark},</if>
            <if test="answer1 != null">#{answer1},</if>
            <if test="answer2 != null">#{answer2},</if>
            <if test="userTrajectory != null">#{userTrajectory},</if>
            <if test="userLanguage != null">#{userLanguage},</if>
            <if test="userStyle != null">#{userStyle},</if>
            <if test="anamnesisid != null">#{anamnesisid},</if>
            <if test="isChecked != null">#{isChecked},</if>
            <if test="checkColumn != null">#{checkColumn},</if>
        </trim>
    </insert>

    <insert id="merge" useGeneratedKeys="true" keyProperty="id">
        Insert Into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="phone != null">phone,</if>
            <if test="password != null">password,</if>
            <if test="age != null">age,</if>
            <if test="sex != null">sex,</if>
            <if test="headImage != null">head_image,</if>
            <if test="name != null">name,</if>
            <if test="praiseCountbymileage != null">praise_countbymileage,</if>
            <if test="praiseCountbytime != null">praise_countbytime,</if>
            create_time,
            <if test="updateTime != null">update_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="isDelete != null">is_Delete,</if>
            <if test="weight != null">weight,</if>
            <if test="height != null">height,</if>
            <if test="isPush != null">is_push,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
            <if test="firstName != null">first_name,</if>
            <if test="lastName != null">last_name,</if>
            <if test="email != null">email,</if>
            <if test="institution != null">institution,</if>
            <if test="country != null">country,</if>
            <if test="status != null">status,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="isRemember != null">is_remember,</if>
            <if test="isTemporary != null">is_temporary,</if>
            <if test="machineId != null">machine_id,</if>
            <if test="identity != null">identity,</if>
            <if test="badposition != null">badposition,</if>
            <if test="remark != null">remark,</if>
            <if test="answer1 != null">answer1,</if>
            <if test="answer2 != null">answer2,</if>
            <if test="userTrajectory != null">user_trajectory,</if>
            <if test="userLanguage != null">user_language,</if>
            <if test="userStyle != null">user_style,</if>
            <if test="anamnesisid != null">anamnesisid,</if>
            <if test="isChecked != null">is_checked,</if>
            <if test="checkColumn != null">check_column,</if>
        </trim>
        <trim prefix="Values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="phone != null">#{phone},</if>
            <if test="password != null">#{password},</if>
            <if test="age != null">#{age},</if>
            <if test="sex != null">#{sex},</if>
            <if test="headImage != null">#{headImage},</if>
            <if test="name != null">#{name},</if>
            <if test="praiseCountbymileage != null">#{praiseCountbymileage},</if>
            <if test="praiseCountbytime != null">#{praiseCountbytime},</if>
            now(),
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="weight != null">#{weight},</if>
            <if test="height != null">#{height},</if>
            <if test="isPush != null">#{isPush},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
            <if test="firstName != null">#{firstName},</if>
            <if test="lastName != null">#{lastName},</if>
            <if test="email != null">#{email},</if>
            <if test="institution != null">#{institution},</if>
            <if test="country != null">#{country},</if>
            <if test="status != null">#{status},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="isRemember != null">#{isRemember},</if>
            <if test="isTemporary != null">#{isTemporary},</if>
            <if test="machineId != null">#{machineId},</if>
            <if test="identity != null">#{identity},</if>
            <if test="badposition != null">#{badposition},</if>
            <if test="remark != null">#{remark},</if>
            <if test="answer1 != null">#{answer1},</if>
            <if test="answer2 != null">#{answer2},</if>
            <if test="userTrajectory != null">#{userTrajectory},</if>
            <if test="userLanguage != null">#{userLanguage},</if>
            <if test="userStyle != null">#{userStyle},</if>
            <if test="anamnesisid != null">#{anamnesisid},</if>
            <if test="isChecked != null">#{isChecked},</if>
            <if test="checkColumn != null">#{checkColumn},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="id != null">id = #{id},</if>
            <if test="username != null">username = #{username},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="password != null">password = #{password},</if>
            <if test="age != null">age = #{age},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="headImage != null">head_image = #{headImage},</if>
            <if test="name != null">name = #{name},</if>
            <if test="praiseCountbymileage != null">praise_countbymileage = #{praiseCountbymileage},</if>
            <if test="praiseCountbytime != null">praise_countbytime = #{praiseCountbytime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="height != null">height = #{height},</if>
            <if test="isPush != null">is_push = #{isPush},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="firstName != null">first_name = #{firstName},</if>
            <if test="lastName != null">last_name = #{lastName},</if>
            <if test="email != null">email = #{email},</if>
            <if test="institution != null">institution = #{institution},</if>
            <if test="country != null">country = #{country},</if>
            <if test="status != null">status = #{status},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="isRemember != null">is_remember = #{isRemember},</if>
            <if test="isTemporary != null">is_temporary = #{isTemporary},</if>
            <if test="machineId != null">machine_id = #{machineId},</if>
            <if test="identity != null">identity = #{identity},</if>
            <if test="badposition != null">badposition = #{badposition},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="answer1 != null">answer1 = #{answer1},</if>
            <if test="answer2 != null">answer2 = #{answer2},</if>
            <if test="userTrajectory != null">user_trajectory = #{userTrajectory},</if>
            <if test="userLanguage != null">user_language = #{userLanguage},</if>
            <if test="userStyle != null">user_style = #{userStyle},</if>
            <if test="anamnesisid != null">anamnesisid = #{anamnesisid},</if>
            <if test="isChecked != null">is_checked = #{isChecked},</if>
            <if test="checkColumn != null">check_column = #{checkColumn},</if>
        </trim>
    </insert>

    <sql id="where">
        <where>
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.username != null and params.username != ''">
                and username = #{params.username}
            </if>
            <if test="params.phone != null and params.phone != ''">
                and phone = #{params.phone}
            </if>
            <if test="params.password != null and params.password != ''">
                and password = #{params.password}
            </if>
            <if test="params.age != null and params.age != ''">
                and age = #{params.age}
            </if>
            <if test="params.sex != null and params.sex != ''">
                and sex = #{params.sex}
            </if>
            <if test="params.headImage != null and params.headImage != ''">
                and head_image = #{params.headImage}
            </if>
            <if test="params.name != null and params.name != ''">
                and name = #{params.name}
            </if>
            <if test="params.praiseCountbymileage != null and params.praiseCountbymileage != ''">
                and praise_countbymileage = #{params.praiseCountbymileage}
            </if>
            <if test="params.praiseCountbytime != null and params.praiseCountbytime != ''">
                and praise_countbytime = #{params.praiseCountbytime}
            </if>
            <if test="params.createTime != null and params.createTime != ''">
                and create_time = #{params.createTime}
            </if>
            <if test="params.updateTime != null and params.updateTime != ''">
                and update_time = #{params.updateTime}
            </if>
            <if test="params.updateUser != null and params.updateUser != ''">
                and update_user = #{params.updateUser}
            </if>
            <if test="params.isDelete != null">
                and is_delete = #{params.isDelete}
            </if>
            <if test="params.weight != null and params.weight != ''">
                and weight = #{params.weight}
            </if>
            <if test="params.height != null and params.height != ''">
                and height = #{params.height}
            </if>
            <if test="params.isPush != null and params.isPush != ''">
                and is_push = #{params.isPush}
            </if>
            <if test="params.lastLoginTime != null and params.lastLoginTime != ''">
                and last_login_time = #{params.lastLoginTime}
            </if>
            <if test="params.firstName != null and params.firstName != ''">
                and first_name = #{params.firstName}
            </if>
            <if test="params.lastName != null and params.lastName != ''">
                and last_name = #{params.lastName}
            </if>
            <if test="params.email != null and params.email != ''">
                and email = #{params.email}
            </if>
            <if test="params.institution != null and params.institution != ''">
                and institution = #{params.institution}
            </if>
            <if test="params.country != null and params.country != ''">
                and country = #{params.country}
            </if>
            <if test="params.status != null and params.status != ''">
                and status = #{params.status}
            </if>
            <if test="params.parentId != null and params.parentId != ''">
                and parent_id = #{params.parentId}
            </if>
            <if test="params.isRemember != null and params.isRemember != ''">
                and is_remember = #{params.isRemember}
            </if>
            <if test="params.isTemporary != null and params.isTemporary != ''">
                and is_temporary = #{params.isTemporary}
            </if>
            <if test="params.machineId != null and params.machineId != ''">
                and machine_id = #{params.machineId}
            </if>
            <if test="params.identity != null and params.identity != ''">
                and identity = #{params.identity}
            </if>
            <if test="params.badposition != null and params.badposition != ''">
                and badposition = #{params.badposition}
            </if>
            <if test="params.remark != null and params.remark != ''">
                and remark = #{params.remark}
            </if>
            <if test="params.answer1 != null and params.answer1 != ''">
                and answer1 = #{params.answer1}
            </if>
            <if test="params.answer2 != null and params.answer2 != ''">
                and answer2 = #{params.answer2}
            </if>
            <if test="params.userTrajectory != null and params.userTrajectory != ''">
                and userTrajectory = #{params.userTrajectory}
            </if>
        </where>
    </sql>

    <sql id="userWhere">
        <if test="id != null and id != ''">
            and u.id = #{id}
        </if>
        <if test="username != null and username != ''">
            and u.username like concat('%',#{username},'%')
        </if>
        <if test="phone != null and phone != ''">
            and u.phone like concat('%',#{phone},'%')
        </if>
        <if test="age != null and age != ''">
            and u.age = #{age}
        </if>
        <if test="sex != null and sex != ''">
            and u.sex = #{sex}
        </if>
        <if test="name != null and name != ''">
            and u.name like concat('%',#{name},'%')
        </if>
        <if test="firstName != null and firstName != ''">
            and u.first_name = #{firstName}
        </if>
        <if test="lastName != null and lastName != ''">
            and u.last_name = #{lastName}
        </if>
        <if test="email != null and email != ''">
            and u.email like concat('%',#{email},'%')
        </if>
        <if test="country != null and country != ''">
            and u.country = #{country}
        </if>
        <if test="status != null and status != ''">
            and u.status = #{status}
        </if>
        <if test="parentId != null and parentId != ''">
            and u.parent_id = #{parentId}
        </if>
        <if test="isTemporary != null and isTemporary != ''">
            and u.is_temporary = #{isTemporary}
        </if>
        <if test="machineId != null and machineId != ''">
            and u.machine_id = #{machineId}
        </if>
        <if test="identity != null and identity != ''">
            and u.identity = #{identity}
        </if>
        <if test="roleIds != null and roleIds.size >0 ">
            and r.roleId in
            <foreach collection="roleIds" item="roleId" separator="," open="(" close=")">
                #{roleId}
            </foreach>
        </if>
    </sql>

    <select id="count" resultType="int">
        select count(1) from user t
        <include refid="where"/>
    </select>

    <select id="list" resultType="User">
        select * from user t
        <include refid="where"/>
        ORDER BY id desc
        <if test="limit != null and limit != 0">
            limit #{offset}, #{limit}
        </if>
    </select>
    
     <select id="adminList" resultType="User">
        select * from user t
        <include refid="where"/>
        ${params.orderBy}
        limit #{offset}, #{limit}
    </select>

    <insert id="saveUserRoles">
        insert into sys_role_user(roleId, userId) values
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{roleId}, #{userId})
        </foreach>
    </insert>
    
    <insert id="saveUserRole">
        insert into sys_role_user(roleId, userId) values (#{roleId}, #{userId})
    </insert>

    <sql id="set">
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="headImage != null">
                head_image = #{headImage},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="praiseCountbymileage != null">
                praise_countbymileage = #{praiseCountbymileage},
            </if>
            <if test="praiseCountbytime != null">
                praise_countbytime = #{praiseCountbytime},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="isDelete != null">
                is_Delete = #{isDelete},
            </if>
            <if test="weight != null">
                weight = #{weight},
            </if>
            <if test="height != null">
                height = #{height},
            </if>
            <if test="isPush != null">
                is_push = #{isPush},
            </if>
            <if test="lastLoginTime != null">
                last_login_time = #{lastLoginTime},
            </if>
            <if test="firstName != null">
                first_name = #{firstName},
            </if>
            <if test="lastName != null">
                last_name = #{lastName},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="institution != null">
                institution = #{institution},
            </if>
            <if test="country != null">
                country = #{country},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="isRemember != null">
                is_remember = #{isRemember},
            </if>
            <if test="isTemporary != null">
                is_temporary = #{isTemporary},
            </if>
            <if test="machineId != null">
                machine_id = #{machineId},
            </if>
            <if test="identity != null">
                identity = #{identity},
            </if>
            <if test="badposition != null">
                badposition = #{badposition},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="answer1 != null">
                answer1 = #{answer1},
            </if>
            <if test="answer2 != null">
                answer2 = #{answer2},
            </if>
            <if test="userTrajectory != null">
                user_trajectory = #{userTrajectory},
            </if>
            <if test="userLanguage != null">
                user_language = #{userLanguage},
            </if>
            <if test="userStyle != null">
                user_style = #{userStyle},
            </if>
            <if test="anamnesisid != null and anamnesisid!=''">
                anamnesisid = #{anamnesisid},
            </if>
            <if test="isChecked != null">
                is_checked = #{isChecked},
            </if>
            <if test="checkColumn != null">
                check_column = #{checkColumn},
            </if>
            <if test="onlineId != null">
                online_id = #{onlineId},
            </if>
            <if test="openid != null and openid">
                openid = #{openid},
            </if>
        </set>
    </sql>

    <update id="update">
        update user t
        <include refid="set"/>
        where t.id=#{id}
    </update>

    <update id="updateByTemporary">
        update user t
        <include refid="set"/>
        where t.email=#{email} and t.machine_id=#{machineId}
    </update>

    <select id="getUserByEmailPhoneAndId" parameterType="com.zw.admin.server.model.User" resultType="com.zw.admin.server.model.User">
        select * from user
        <where>
            id != #{id} and is_temporary = 0
            <if test="email!=null and email !='' and phone!=null and phone!='' ">
                and (email = #{email} or phone =#{phone})
            </if>
            <if test="(email!=null and email !='') and (phone==null or phone=='') ">
                and email = #{email}
            </if>
            <if test="(email==null or email =='') and (phone !=null and phone !='') ">
                and phone = #{phone}
            </if>
        </where>
    </select>

    <select id="getByTemporary" parameterType="com.zw.admin.server.model.User" resultType="com.zw.admin.server.model.User">
        select * from user
        <where>
            is_temporary = 1
            <if test="phone !=null and phone !=''">
                and phone = #{phone}
            </if>
            <if test="email !=null and email !=''">
               and email = #{email}
            </if>
            <if test="machineId == null">
                and machine_id is null
            </if>
            <if test="machineId != null">
                and machine_id = #{machineId}
            </if>
        </where>
        limit 1
    </select>

    <!--查询医生下属的患者-->
    <select id="selectChildrenUserId" parameterType="java.lang.String" resultType="java.lang.String">
        select id from user where parent_id = #{id}
    </select>

    <!--查询每天新增患者数-->
    <select id="selectIncreaseNum" resultType="com.zw.admin.server.dto.DateNumDto">
        SELECT
        DATE_FORMAT(create_time, '%Y-%m-%d'),
        count(1)
        FROM
        USER
        <where>
            identity =0
            <if test="startTime !=null and endTime !=null">
                and DATE_FORMAT(create_time, '%Y-%m-%d') between #{startTime} and #{endTime}
            </if>
        </where>
        GROUP BY
        DATE_FORMAT(create_time, '%Y-%m-%d')
        ORDER BY
        DATE_FORMAT(create_time, '%Y-%m-%d') DESC
    </select>

    <!--查询每天新增患者数-->
    <select id="selectIncreaseNumByDay" resultType="com.zw.admin.server.dto.DateNumDto">
        SELECT
        DATE_FORMAT(create_time, '%Y-%m-%d') date,
        count(1) num
        FROM
        USER
        <where>
            identity =0
            <if test="startTime !=null and endTime !=null">
                and DATE_FORMAT(create_time, '%Y-%m-%d') between #{startTime} and #{endTime}
            </if>
        </where>
        GROUP BY
        DATE_FORMAT(create_time, '%Y-%m-%d')
        ORDER BY
        DATE_FORMAT(create_time, '%Y-%m-%d') DESC
    </select>

    <select id="selectUserNum" resultType="java.lang.Long">
        SELECT count(DISTINCT id) from user where identity=0
    </select>

    <!--患者新增数量查询-->
    <select id="selectIncreaseUser" resultType="com.zw.admin.server.dto.DateNumDto">
        SELECT
        <if test='dateType == "week" or dateType == "month"'>
            DATE_FORMAT(create_time, '%Y-%m-%d')
        </if>
        <if test='dateType == "year"'>
            DATE_FORMAT(create_time, '%Y-%m')
        </if> date,
        count(1) num from user
        <where>
            identity='0'
            <include refid="selectByMachineId"></include>
            <if test='dateType == "week"'>
                and YEARWEEK(date_format(create_time, '%Y-%m-%d'),1) = YEARWEEK(now(), 1)
            </if>
            <if test='dateType == "month"'>
                and DATE_FORMAT( create_time, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
            </if>
            <if test='dateType == "year"'>
                and YEAR(create_time)=YEAR(NOW())
            </if>
        </where>
        GROUP BY
        <if test='dateType == "week" or dateType == "month"'>
            DATE_FORMAT(create_time, '%Y-%m-%d')
        </if>
        <if test='dateType == "year"'>
            DATE_FORMAT(create_time, '%Y-%m')
        </if>

    </select>

    <!--查询本月，当天新增数量-->
    <select id="selectTotalRecoveredNum" resultType="java.lang.Long">
        SELECT
        count(1) num from user
        <where>
            identity='0'
            <include refid="selectByMachineId"></include>
            <if test='dateType == "day"'>
                and DATE_FORMAT( create_time, '%Y%m%d' ) = DATE_FORMAT( CURDATE( ) , '%Y%m%d' )
            </if>
            <if test='dateType == "week"'>
                and YEARWEEK(date_format(create_time, '%Y-%m-%d'),1) = YEARWEEK(now(), 1)
            </if>
            <if test='dateType == "month"'>
                and DATE_FORMAT( create_time, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
            </if>
            <if test='dateType == "year"'>
                and YEAR(create_time)=YEAR(NOW())
            </if>
        </where>
    </select>

    <!--查询用户列表-->
    <select id="selectUserList" resultType="com.zw.admin.server.model.User">
        SELECT
        u.*
        FROM
        USER u
        LEFT JOIN sys_role_user r ON r.userId = u.id
        <where>
            u.identity !=0
            <include refid="userWhere"/>
        </where>
        group by u.id
        ORDER BY u.create_time desc
    </select>

    <!--根据用户id查询角色id-->
    <select id="selectRoleIdByUserId" resultType="java.lang.Long">
        SELECT roleId from sys_role_user where userId = #{userId}
    </select>

    <!--根据用户id查询已经配置好的场所-->
    <select id="selectUserPlaceByUserId" resultType="com.zw.admin.server.model.Place">
        SELECT
            p.id,
            p.place
        FROM
            user_place_rel r
        JOIN place p ON r.place_id = p.id
        WHERE
            r.user_id = #{userId}
    </select>

    <select id="selectUserNameByTrainLog" resultType="java.lang.String">
        select distinct name
        <where>
            name is not null and name !=''
            <if test="machineIds !=null and machineIds.size >0">
                and machine_id in
                <foreach collection="machineIds" open="(" close=")" separator="," item="machineId">
                    #{machineId}
                </foreach>
            </if>
            <if test="userIds !=null and userIds.size >0">
                and id in
                <foreach collection="userIds" open="(" close=")" separator="," item="userId">
                    #{userId}
                </foreach>
            </if>
        </where>
    </select>

    <!--根据邮箱或者手机和id查询用户是否存在-->
    <select id="selectUserOnline" resultType="com.zw.admin.server.model.User">
        select * from user
        <where>
            <if test="id !=null and id !=''">
                and id = #{id}
            </if>
            <if test="phone !=null and phone !=''">
                and phone = #{phone}
            </if>
            <if test="email !=null and email !=''">
                and email = #{email}
            </if>
            <if test="isChecked !=null">
                and is_checked = #{isChecked}
            </if>
            <if test="identity !=null">
                and identity = #{identity}
            </if>
            <if test="onlineId !=null">
                and online_id is not null and online_id !=''
            </if>
        </where>
        limit 1
    </select>
</mapper>